# Inizialization

In [ ]:
import pandas as pd

In [ ]:
drivers_path = "/content/drive/.../drivers.csv"
trucks_path = "/content/drive/.../trucks.csv"
trailers_path = "/content/drive/.../trailers.csv"
customers_path = "/content/drive/.../customers.csv"
facilities_path = "/content/drive/.../facilities.csv"
routes_path = "/content/drive/.../routes.csv"
loads_path = "/content/drive/.../loads.csv"
trips_path = "/content/drive/.../trips.csv"
fuel_purchases_path = "/content/drive/.../fuel_purchases.csv"
maintenance_records_path = "/content/drive/.../maintenance_records.csv"
delivery_events_path = "/content/drive/.../delivery_events.csv"
safety_incidents_path = "/content/drive/.../safety_incidents.csv"
driver_monthly_metrics_path = "/content/drive/.../driver_monthly_metrics.csv"
truck_utilization_metrics_path = "/content/drive/.../truck_utilization_metrics.csv"



df_drivers = pd.read_csv(drivers_path)
df_trucks = pd.read_csv(trucks_path)
df_trailers = pd.read_csv(trailers_path)
df_customers = pd.read_csv(customers_path)
df_facilities = pd.read_csv(facilities_path)
df_routes = pd.read_csv(routes_path)
df_loads = pd.read_csv(loads_path)
df_trips = pd.read_csv(trips_path)
df_fuel_purchases = pd.read_csv(fuel_purchases_path)
df_maintenance_records = pd.read_csv(maintenance_records_path)
df_delivery_events = pd.read_csv(delivery_events_path)
df_safety_incidents = pd.read_csv(safety_incidents_path)
df_driver_monthly_metrics = pd.read_csv(driver_monthly_metrics_path)
df_truck_utilization_metrics = pd.read_csv(truck_utilization_metrics_path)

# Datasets exploration

In [ ]:
df_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driver_id          150 non-null    object
 1   first_name         150 non-null    object
 2   last_name          150 non-null    object
 3   hire_date          150 non-null    object
 4   termination_date   26 non-null     object
 5   license_number     150 non-null    object
 6   license_state      150 non-null    object
 7   date_of_birth      150 non-null    object
 8   home_terminal      150 non-null    object
 9   employment_status  150 non-null    object
 10  cdl_class          150 non-null    object
 11  years_experience   150 non-null    int64
dtypes: int64(1), object(11)
memory usage: 14.2+ KB

In [ ]:
df_drivers.head(15)

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
0,DRV00001,Jennifer,Hernandez,2014-10-31,NaN,DL673510887,WA,1973-11-07,Denver,Active,A,3
1,DRV00002,William,Martin,2020-10-02,NaN,DL128955006,GA,1976-11-03,Columbus,Active,A,20
2,DRV00003,Charles,Hernandez,2021-09-21,NaN,DL523076025,NC,1970-04-06,Salt Lake City,Active,A,19
3,DRV00004,Barbara,Brown,2013-09-08,NaN,DL735540030,WA,1995-02-06,Denver,Active,A,19
4,DRV00005,Mary,Martinez,2018-12-02,NaN,DL706011277,AZ,1960-07-15,Chicago,Active,A,12
5,DRV00006,Robert,Taylor,2019-04-04,NaN,DL811890569,NC,1990-05-02,Portland,Active,A,23
6,DRV00007,James,Martinez,2019-07-02,2021-05-17,DL129100607,PA,1974-05-23,Miami,Terminated,A,5
7,DRV00008,Barbara,Wilson,2020-06-09,2021-01-23,DL190137896,CO,1978-12-28,Philadelphia,Terminated,A,15
8,DRV00009,Karen,Hernandez,2013-09-29,NaN,DL790147183,FL,1989-02-22,Los Angeles,Active,A,13
9,DRV00010,Sarah,Gonzalez,2020-11-08,NaN,DL560219456,WA,1974-05-26,Minneapolis,Active,A,23
10,DRV00011,Michael,Martinez,2014-06-01,NaN,DL245706210,FL,1972-07-04,Dallas,Active,A,15
11,DRV00012,Robert,Moore,2013-09-12,NaN,DL595744935,MO,1994-04-21,Nashville,Active,A,25
12,DRV00013,Jessica,Jones,2015-11-21,NaN,DL295130056,WI,1969-05-27,Philadelphia,Active,A,3
13,DRV00014,Richard,Miller,2021-01-10,NaN,DL153992714,FL,1969-02-02,Salt Lake City,Active,A,11
14,DRV00015,Susan,Wilson,2015-05-20,NaN,DL379340713,OH,1970-05-20,Salt Lake City,Active,A,21

In [ ]:
df_trucks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   truck_id               120 non-null    object
 1   unit_number            120 non-null    int64
 2   make                   120 non-null    object
 3   model_year             120 non-null    int64
 4   vin                    120 non-null    object
 5   acquisition_date       120 non-null    object
 6   acquisition_mileage    120 non-null    int64
 7   fuel_type              120 non-null    object
 8   tank_capacity_gallons  120 non-null    int64
 9   status                 120 non-null    object
 10  home_terminal          120 non-null    object
dtypes: int64(4), object(7)
memory usage: 10.4+ KB

In [ ]:
df_trucks.head(15)

,truck_id,unit_number,make,model_year,vin,acquisition_date,acquisition_mileage,fuel_type,tank_capacity_gallons,status,home_terminal
0,TRK00001,3463,Peterbilt,2016,1VV205190335317039,2017-04-27,18814,Diesel,200,Active,Omaha
1,TRK00002,6461,Kenworth,2015,1NV753749606229960,2018-10-04,26795,Diesel,150,Active,Seattle
2,TRK00003,2335,Peterbilt,2018,1NT803101860493229,2020-09-17,11795,Diesel,150,Maintenance,Atlanta
3,TRK00004,3317,Freightliner,2015,1VV131945381692351,2017-06-17,8875,Diesel,200,Active,Salt Lake City
4,TRK00005,6731,Freightliner,2016,1FT822215709701985,2021-10-08,42042,Diesel,250,Maintenance,Miami
5,TRK00006,6082,Kenworth,2017,1VV963516965177788,2018-05-12,47794,Diesel,150,Active,Minneapolis
6,TRK00007,7421,Volvo,2019,1MV134100489809236,2020-01-29,42328,Diesel,200,Active,Charlotte
7,TRK00008,3112,Mack,2015,1MV426140684859204,2015-01-27,27548,Diesel,150,Active,Houston
8,TRK00009,2388,International,2015,1VU871233565012431,2016-11-04,24540,Diesel,250,Active,Denver
9,TRK00010,6072,Volvo,2015,1MU182160377362421,2017-12-11,25066,Diesel,200,Active,Columbus
10,TRK00011,7171,Freightliner,2015,1FT567947164925037,2021-01-06,29395,Diesel,200,Active,Portland
11,TRK00012,6381,Freightliner,2015,1MU483021764762154,2017-02-08,24739,Diesel,250,Active,Las Vegas
12,TRK00013,3093,Volvo,2018,1NU908806171429154,2020-10-25,24618,Diesel,250,Active,Phoenix
13,TRK00014,9624,International,2015,1VV247228896414388,2019-04-11,5259,Diesel,150,Active,Nashville
14,TRK00015,2531,International,2015,1VV219552826957760,2017-02-12,44743,Diesel,200,Active,Memphis

In [ ]:
df_trailers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trailer_id        180 non-null    object
 1   trailer_number    180 non-null    int64
 2   trailer_type      180 non-null    object
 3   length_feet       180 non-null    int64
 4   model_year        180 non-null    int64
 5   vin               180 non-null    object
 6   acquisition_date  180 non-null    object
 7   status            180 non-null    object
 8   current_location  180 non-null    object
dtypes: int64(3), object(6)
memory usage: 12.8+ KB

In [ ]:
df_trailers.head(15)

,trailer_id,trailer_number,trailer_type,length_feet,model_year,vin,acquisition_date,status,current_location
0,TRL00001,4290,Refrigerated,53,2016,1AV889081755621178,2018-05-11,Active,Kansas City
1,TRL00002,8848,Dry Van,53,2018,1BU942062588832828,2018-11-24,Active,Kansas City
2,TRL00003,6147,Dry Van,53,2022,1AV669057807416326,2019-01-28,Active,Milwaukee
3,TRL00004,3910,Dry Van,53,2024,1AV544000060905105,2018-08-27,Active,New York
4,TRL00005,7524,Dry Van,53,2016,1AV170126369813275,2019-11-22,Active,Las Vegas
5,TRL00006,6228,Refrigerated,53,2023,1BV247166900716104,2020-04-27,Active,Los Angeles
6,TRL00007,5775,Dry Van,53,2015,1AU542428020643035,2016-03-15,Active,Indianapolis
7,TRL00008,9044,Refrigerated,53,2020,1CV458098594511128,2019-04-23,Active,Oklahoma City
8,TRL00009,4971,Dry Van,53,2020,1BU184087873073667,2021-05-14,Active,Kansas City
9,TRL00010,6339,Refrigerated,53,2017,1AT967110002225980,2015-04-11,Active,Los Angeles
10,TRL00011,7161,Dry Van,53,2021,1CT218958376680556,2017-06-21,Active,Detroit
11,TRL00012,5592,Refrigerated,53,2024,1AU453568004465492,2018-06-02,Active,Los Angeles
12,TRL00013,7437,Refrigerated,53,2021,1BT503394220153331,2020-06-07,Active,Los Angeles
13,TRL00014,6980,Dry Van,53,2020,1AU621680936845604,2021-09-19,Active,Charlotte
14,TRL00015,2865,Dry Van,53,2023,1BT277455552123591,2016-06-04,Active,Philadelphia

In [ ]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               200 non-null    object
 1   customer_name             200 non-null    object
 2   customer_type             200 non-null    object
 3   credit_terms_days         200 non-null    int64
 4   primary_freight_type      200 non-null    object
 5   account_status            200 non-null    object
 6   contract_start_date       200 non-null    object
 7   annual_revenue_potential  200 non-null    int64
dtypes: int64(2), object(6)
memory usage: 12.6+ KB

In [ ]:
df_customers.head(15)

,customer_id,customer_name,customer_type,credit_terms_days,primary_freight_type,account_status,contract_start_date,annual_revenue_potential
0,CUST00001,Metro Wholesale,Dedicated,60,General,Inactive,2020-02-20,985117
1,CUST00002,National Retail,Contract,30,Retail,Active,2021-06-02,4936566
2,CUST00003,XYZ Industries,Contract,30,Consumer Goods,Active,2020-09-04,3102814
3,CUST00004,American Corp,Contract,15,Food/Beverage,Active,2020-11-29,3948027
4,CUST00005,American Distribution,Spot,45,Consumer Goods,Active,2020-02-04,3682564
5,CUST00006,American Industries,Dedicated,30,Consumer Goods,Active,2021-02-16,973274
6,CUST00007,Superior Distribution,Spot,30,Food/Beverage,Active,2021-02-05,1499297
7,CUST00008,American Logistics,Contract,30,Automotive,Inactive,2021-07-23,1613275
8,CUST00009,XYZ Wholesale,Contract,30,Retail,Inactive,2020-03-28,4713444
9,CUST00010,National Logistics,Dedicated,45,Automotive,Active,2021-11-19,3468505
10,CUST00011,First Group,Dedicated,15,Electronics,Active,2020-06-18,4333669
11,CUST00012,ABC Distribution,Dedicated,30,Electronics,Active,2020-07-17,2931263
12,CUST00013,Pacific Corp,Dedicated,60,General,Active,2021-08-29,1426880
13,CUST00014,Elite Foods,Contract,45,Consumer Goods,Active,2021-04-17,4578681
14,CUST00015,First Group,Spot,15,Automotive,Active,2020-08-27,3816255

In [ ]:
df_facilities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   facility_id      50 non-null     object
 1   facility_name    50 non-null     object
 2   facility_type    50 non-null     object
 3   city             50 non-null     object
 4   state            50 non-null     object
 5   latitude         50 non-null     float64
 6   longitude        50 non-null     float64
 7   dock_doors       50 non-null     int64
 8   operating_hours  50 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.6+ KB

In [ ]:
df_facilities.head(15)

,facility_id,facility_name,facility_type,city,state,latitude,longitude,dock_doors,operating_hours
0,FAC00001,Houston Distribution Center,Cross-Dock,Houston,TX,29.7604,-95.3698,125,24/7
1,FAC00002,Kansas City Hub,Cross-Dock,Kansas City,MO,39.0997,-94.5786,33,7AM-7PM
2,FAC00003,Charlotte Distribution Center,Distribution Center,Charlotte,NC,35.2271,-80.8431,138,24/7
3,FAC00004,Chicago Distribution Center,Distribution Center,Chicago,IL,41.8781,-87.6298,38,8AM-5PM
4,FAC00005,Indianapolis Hub,Distribution Center,Indianapolis,IN,39.7684,-86.1581,56,8AM-5PM
5,FAC00006,Atlanta Warehouse,Distribution Center,Atlanta,GA,33.7490,-84.3880,149,8AM-5PM
6,FAC00007,Detroit Warehouse,Terminal,Detroit,MI,42.3314,-83.0458,44,24/7
7,FAC00008,Philadelphia Hub,Cross-Dock,Philadelphia,PA,39.9526,-75.1652,110,8AM-5PM
8,FAC00009,Nashville Distribution Center,Terminal,Nashville,TN,36.1627,-86.7816,115,6AM-10PM
9,FAC00010,Indianapolis Distribution Center,Warehouse,Indianapolis,IN,39.7684,-86.1581,92,6AM-10PM
10,FAC00011,Nashville Distribution Center,Cross-Dock,Nashville,TN,36.1627,-86.7816,125,8AM-5PM
11,FAC00012,Atlanta Distribution Center,Distribution Center,Atlanta,GA,33.7490,-84.3880,16,8AM-5PM
12,FAC00013,Nashville Distribution Center,Distribution Center,Nashville,TN,36.1627,-86.7816,55,8AM-5PM
13,FAC00014,Indianapolis Warehouse,Distribution Center,Indianapolis,IN,39.7684,-86.1581,126,8AM-5PM
14,FAC00015,Phoenix Distribution Center,Terminal,Phoenix,AZ,33.4484,-112.0740,61,24/7

In [ ]:
df_routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                58 non-null     object
 1   origin_city             58 non-null     object
 2   origin_state            58 non-null     object
 3   destination_city        58 non-null     object
 4   destination_state       58 non-null     object
 5   typical_distance_miles  58 non-null     int64
 6   base_rate_per_mile      58 non-null     float64
 7   fuel_surcharge_rate     58 non-null     float64
 8   typical_transit_days    58 non-null     int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB

In [ ]:
df_routes.head(15)

,route_id,origin_city,origin_state,destination_city,destination_state,typical_distance_miles,base_rate_per_mile,fuel_surcharge_rate,typical_transit_days
0,RTE00001,Atlanta,GA,Chicago,IL,677,1.70,0.19,1
1,RTE00002,Atlanta,GA,Miami,FL,697,2.08,0.22,1
2,RTE00003,Chicago,IL,Los Angeles,CA,2003,2.55,0.29,3
3,RTE00004,Chicago,IL,Portland,OR,2017,1.84,0.19,3
4,RTE00005,Chicago,IL,Las Vegas,NV,1749,2.41,0.26,3
5,RTE00006,Chicago,IL,Charlotte,NC,675,2.13,0.28,1
6,RTE00007,Dallas,TX,New York,NY,1576,2.54,0.32,2
7,RTE00008,Dallas,TX,Denver,CO,762,2.62,0.15,1
8,RTE00009,Dallas,TX,Indianapolis,IN,878,1.95,0.17,1
9,RTE00010,New York,NY,Philadelphia,PA,92,1.61,0.17,1
10,RTE00011,New York,NY,Columbus,OH,547,1.69,0.24,1
11,RTE00012,Phoenix,AZ,Philadelphia,PA,2389,2.71,0.19,4
12,RTE00013,Phoenix,AZ,Denver,CO,673,1.70,0.21,1
13,RTE00014,Phoenix,AZ,Kansas City,MO,1204,2.14,0.19,2
14,RTE00015,Philadelphia,PA,New York,NY,92,2.79,0.15,1

In [ ]:
df_loads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85410 entries, 0 to 85409
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   load_id              85410 non-null  object
 1   customer_id          85410 non-null  object
 2   route_id             85410 non-null  object
 3   load_date            85410 non-null  object
 4   load_type            85410 non-null  object
 5   weight_lbs           85410 non-null  int64
 6   pieces               85410 non-null  int64
 7   revenue              85410 non-null  float64
 8   fuel_surcharge       85410 non-null  float64
 9   accessorial_charges  85410 non-null  int64
 10  load_status          85410 non-null  object
 11  booking_type         85410 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 7.8+ MB

In [ ]:
df_loads.head(15)

,load_id,customer_id,route_id,load_date,load_type,weight_lbs,pieces,revenue,fuel_surcharge,accessorial_charges,load_status,booking_type
0,LOAD00000001,CUST00183,RTE00019,2022-01-01,Dry Van,19178,13,3045.23,406.72,100,Completed,Spot
1,LOAD00000002,CUST00076,RTE00058,2022-01-01,Dry Van,27761,22,1224.48,98.61,0,Completed,Dedicated
2,LOAD00000003,CUST00027,RTE00048,2022-01-01,Refrigerated,35594,16,7171.12,792.88,0,Completed,Spot
3,LOAD00000004,CUST00088,RTE00013,2022-01-01,Refrigerated,33274,10,1308.20,141.33,50,Completed,Spot
4,LOAD00000005,CUST00185,RTE00020,2022-01-01,Dry Van,40257,10,3317.18,738.48,0,Completed,Spot
5,LOAD00000006,CUST00193,RTE00004,2022-01-01,Refrigerated,34671,10,3582.78,383.23,75,Completed,Spot
6,LOAD00000007,CUST00169,RTE00038,2022-01-01,Dry Van,14530,4,3872.46,314.64,150,Completed,Contract
7,LOAD00000008,CUST00049,RTE00016,2022-01-01,Refrigerated,16927,26,5914.90,463.93,100,Completed,Spot
8,LOAD00000009,CUST00075,RTE00025,2022-01-01,Refrigerated,38964,3,4759.42,565.38,150,Completed,Dedicated
9,LOAD00000010,CUST00079,RTE00025,2022-01-01,Refrigerated,29233,8,5723.39,565.38,50,Completed,Dedicated
10,LOAD00000011,CUST00127,RTE00058,2022-01-01,Refrigerated,34882,20,1206.59,98.61,0,Completed,Contract
11,LOAD00000012,CUST00052,RTE00052,2022-01-01,Refrigerated,38553,17,1248.40,273.36,75,Completed,Spot
12,LOAD00000013,CUST00168,RTE00002,2022-01-01,Dry Van,40675,1,1541.78,153.34,50,Completed,Dedicated
13,LOAD00000014,CUST00049,RTE00032,2022-01-01,Refrigerated,32114,12,4948.67,451.80,75,Completed,Dedicated
14,LOAD00000015,CUST00089,RTE00006,2022-01-01,Dry Van,11712,24,1286.22,189.00,50,Completed,Dedicated

In [ ]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85410 entries, 0 to 85409
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trip_id                85410 non-null  object
 1   load_id                85410 non-null  object
 2   driver_id              83696 non-null  object
 3   truck_id               83738 non-null  object
 4   trailer_id             83730 non-null  object
 5   dispatch_date          85410 non-null  object
 6   actual_distance_miles  85410 non-null  int64
 7   actual_duration_hours  85410 non-null  float64
 8   fuel_gallons_used      85410 non-null  float64
 9   average_mpg            85410 non-null  float64
 10  idle_time_hours        85410 non-null  float64
 11  trip_status            85410 non-null  object
dtypes: float64(4), int64(1), object(7)
memory usage: 7.8+ MB

In [ ]:
df_trips.head(15)

,trip_id,load_id,driver_id,truck_id,trailer_id,dispatch_date,actual_distance_miles,actual_duration_hours,fuel_gallons_used,average_mpg,idle_time_hours,trip_status
0,TRIP00000001,LOAD00000001,DRV00117,TRK00035,TRL00167,2022-01-01,1314,26.2,183.8,7.15,3.5,Completed
1,TRIP00000002,LOAD00000002,DRV00141,TRK00108,TRL00082,2022-01-01,515,8.6,93.6,5.50,8.3,Completed
2,TRIP00000003,LOAD00000003,DRV00032,TRK00031,TRL00138,2022-01-01,2509,45.0,339.1,7.40,12.0,Completed
3,TRIP00000004,LOAD00000004,DRV00083,TRK00105,TRL00018,2022-01-01,717,11.1,110.3,6.50,9.6,Completed
4,TRIP00000005,LOAD00000005,DRV00044,TRK00076,TRL00054,2022-01-01,2243,35.0,328.9,6.82,11.6,Completed
5,TRIP00000006,LOAD00000006,DRV00120,TRK00062,TRL00007,2022-01-01,1977,39.4,358.8,5.51,6.6,Completed
6,TRIP00000007,LOAD00000007,DRV00055,TRK00002,TRL00093,2022-01-01,1350,20.9,230.8,5.85,2.3,Completed
7,TRIP00000008,LOAD00000008,DRV00065,TRK00035,TRL00148,2022-01-01,2748,50.5,437.6,6.28,10.5,Completed
8,TRIP00000009,LOAD00000009,DRV00129,TRK00014,TRL00083,2022-01-01,3226,51.4,465.5,6.93,4.1,Completed
9,TRIP00000010,LOAD00000010,DRV00029,TRK00116,TRL00126,2022-01-01,3388,60.2,460.3,7.36,5.7,Completed
10,TRIP00000011,LOAD00000011,DRV00132,TRK00085,TRL00083,2022-01-01,538,9.9,72.2,7.45,4.9,Completed
11,TRIP00000012,LOAD00000012,DRV00088,TRK00039,TRL00142,2022-01-01,861,14.3,150.3,5.73,6.7,Completed
12,TRIP00000013,LOAD00000013,DRV00070,TRK00086,TRL00119,2022-01-01,689,12.4,112.0,6.15,3.6,Completed
13,TRIP00000014,LOAD00000014,DRV00009,TRK00052,TRL00021,2022-01-01,2255,35.0,377.1,5.98,8.7,Completed
14,TRIP00000015,LOAD00000015,DRV00071,TRK00120,TRL00132,2022-01-01,684,11.4,92.9,7.36,4.4,Completed

In [ ]:
df_fuel_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196442 entries, 0 to 196441
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   fuel_purchase_id  196442 non-null  object
 1   trip_id           196442 non-null  object
 2   truck_id          192562 non-null  object
 3   driver_id         192454 non-null  object
 4   purchase_date     196442 non-null  object
 5   location_city     196442 non-null  object
 6   location_state    196442 non-null  object
 7   gallons           196442 non-null  float64
 8   price_per_gallon  196442 non-null  float64
 9   total_cost        196442 non-null  float64
 10  fuel_card_number  196442 non-null  object
dtypes: float64(3), object(8)
memory usage: 16.5+ MB

In [ ]:
df_fuel_purchases.head(15)

,fuel_purchase_id,trip_id,truck_id,driver_id,purchase_date,location_city,location_state,gallons,price_per_gallon,total_cost,fuel_card_number
0,FUEL00000001,TRIP00051284,TRK00045,DRV00102,2023-10-22 05:00:00,Columbus,MN,131.6,3.399,447.31,FC567161
1,FUEL00000002,TRIP00073723,TRK00013,NaN,2024-08-04 08:00:00,New York,AZ,139.9,3.180,444.88,FC717910
2,FUEL00000003,TRIP00018286,TRK00024,DRV00142,2022-08-23 13:00:00,Seattle,NE,189.3,3.804,720.10,FC912816
3,FUEL00000004,TRIP00008465,TRK00018,DRV00047,2022-04-20 00:00:00,Memphis,NY,130.7,3.579,467.78,FC776357
4,FUEL00000005,TRIP00069700,TRK00054,NaN,2024-06-13 09:00:00,Columbus,AZ,185.3,3.422,634.10,FC391024
5,FUEL00000006,TRIP00062650,TRK00012,DRV00104,2024-03-18 23:00:00,Dallas,NY,182.2,3.494,636.61,FC277504
6,FUEL00000007,TRIP00000851,TRK00072,DRV00127,2022-01-11 21:00:00,Miami,TX,146.3,3.914,572.62,FC256663
7,FUEL00000008,TRIP00012033,TRK00073,DRV00084,2022-06-06 00:00:00,Phoenix,PA,113.3,4.471,506.56,FC543608
8,FUEL00000009,TRIP00023596,TRK00101,DRV00080,2022-10-28 02:00:00,Miami,NC,127.0,4.445,564.51,FC484857
9,FUEL00000010,TRIP00037859,TRK00085,DRV00002,2023-04-30 09:00:00,Dallas,MO,134.7,3.357,452.19,FC753360
10,FUEL00000011,TRIP00027109,TRK00103,DRV00038,2022-12-12 07:00:00,Denver,TN,194.4,4.060,789.26,FC248220
11,FUEL00000012,TRIP00079405,NaN,DRV00085,2024-10-16 19:00:00,Los Angeles,WI,75.4,3.988,300.70,FC535781
12,FUEL00000013,TRIP00080145,TRK00097,DRV00089,2024-10-25 13:00:00,Atlanta,TN,153.5,3.301,506.70,FC282038
13,FUEL00000014,TRIP00016414,TRK00090,DRV00024,2022-07-31 09:00:00,Kansas City,FL,122.6,4.725,579.28,FC168232
14,FUEL00000015,TRIP00048418,TRK00076,DRV00082,2023-09-14 10:00:00,Dallas,NE,97.4,4.301,418.92,FC649134

In [ ]:
df_maintenance_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   maintenance_id       2920 non-null   object
 1   truck_id             2920 non-null   object
 2   maintenance_date     2920 non-null   object
 3   maintenance_type     2920 non-null   object
 4   odometer_reading     2920 non-null   int64
 5   labor_hours          2920 non-null   float64
 6   labor_cost           2920 non-null   float64
 7   parts_cost           2920 non-null   float64
 8   total_cost           2920 non-null   float64
 9   facility_location    2920 non-null   object
 10  downtime_hours       2920 non-null   float64
 11  service_description  2920 non-null   object
dtypes: float64(5), int64(1), object(6)
memory usage: 273.9+ KB

In [ ]:
df_maintenance_records.head(15)

,maintenance_id,truck_id,maintenance_date,maintenance_type,odometer_reading,labor_hours,labor_cost,parts_cost,total_cost,facility_location,downtime_hours,service_description
0,MAINT00000001,TRK00085,2022-01-01,Inspection,400255,7.8,781.42,10.41,791.83,Kansas City,22.2,Emergency Inspection
1,MAINT00000002,TRK00041,2022-01-01,Tire,268041,0.9,80.91,3207.16,3288.07,Seattle,8.0,Scheduled Tire
2,MAINT00000003,TRK00090,2022-01-01,Preventive,698915,7.2,733.18,1570.57,2303.75,Miami,16.5,Routine Preventive
3,MAINT00000004,TRK00056,2022-01-02,Inspection,416522,2.8,298.80,67.48,366.28,Kansas City,34.6,Emergency Inspection
4,MAINT00000005,TRK00029,2022-01-02,Repair,179968,4.6,409.08,982.59,1391.67,Omaha,4.4,Emergency Repair
5,MAINT00000006,TRK00120,2022-01-02,Preventive,680507,5.0,498.12,3029.54,3527.66,Omaha,43.5,Scheduled Preventive
6,MAINT00000007,TRK00017,2022-01-02,Repair,599078,0.9,83.38,1098.90,1182.28,Denver,34.8,Emergency Repair
7,MAINT00000008,TRK00038,2022-01-03,Tire,605379,7.1,785.79,1483.25,2269.04,Miami,3.9,Scheduled Tire
8,MAINT00000009,TRK00054,2022-01-03,Inspection,232147,4.0,371.51,143.21,514.72,Dallas,14.0,Routine Inspection
9,MAINT00000010,TRK00076,2022-01-03,Inspection,222428,0.6,74.65,14.12,88.77,Columbus,23.0,Emergency Inspection
10,MAINT00000011,TRK00075,2022-01-04,Preventive,316796,2.2,208.96,2521.65,2730.61,Atlanta,30.1,Emergency Preventive
11,MAINT00000012,TRK00075,2022-01-05,Tire,422318,6.9,713.90,2958.89,3672.79,Nashville,39.8,Scheduled Tire
12,MAINT00000013,TRK00102,2022-01-05,Preventive,191896,3.4,320.22,3187.72,3507.94,Columbus,13.1,Scheduled Preventive
13,MAINT00000014,TRK00107,2022-01-05,Transmission,743890,0.8,86.23,1060.27,1146.50,Philadelphia,3.8,Routine Transmission
14,MAINT00000015,TRK00099,2022-01-06,Brake,335024,4.5,540.61,1202.57,1743.18,Las Vegas,5.4,Routine Brake

In [ ]:
df_delivery_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170820 entries, 0 to 170819
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   event_id            170820 non-null  object
 1   load_id             170820 non-null  object
 2   trip_id             170820 non-null  object
 3   event_type          170820 non-null  object
 4   facility_id         170820 non-null  object
 5   scheduled_datetime  170820 non-null  object
 6   actual_datetime     170820 non-null  object
 7   detention_minutes   170820 non-null  int64
 8   on_time_flag        170820 non-null  bool
 9   location_city       170820 non-null  object
 10  location_state      170820 non-null  object
dtypes: bool(1), int64(1), object(9)
memory usage: 13.2+ MB

In [ ]:
df_delivery_events.head(15)

,event_id,load_id,trip_id,event_type,facility_id,scheduled_datetime,actual_datetime,detention_minutes,on_time_flag,location_city,location_state
0,EVT00000001,LOAD00000001,TRIP00000001,Pickup,FAC00034,2022-01-01 18:00:00.000000,2022-01-01 20:58:55.918185,0,False,Houston,TX
1,EVT00000002,LOAD00000001,TRIP00000001,Delivery,FAC00046,2022-01-02 23:10:55.918185,2022-01-02 21:30:22.142060,230,True,Detroit,MI
2,EVT00000003,LOAD00000002,TRIP00000002,Pickup,FAC00015,2022-01-01 18:00:00.000000,2022-01-01 17:37:26.608430,62,True,Kansas City,MO
3,EVT00000004,LOAD00000002,TRIP00000002,Delivery,FAC00050,2022-01-02 02:13:26.608430,2022-01-02 05:55:46.238257,67,False,Indianapolis,IN
4,EVT00000005,LOAD00000003,TRIP00000003,Pickup,FAC00001,2022-01-01 08:00:00.000000,2022-01-01 07:28:02.169634,83,True,Columbus,OH
5,EVT00000006,LOAD00000003,TRIP00000003,Delivery,FAC00022,2022-01-03 04:28:02.169634,2022-01-03 03:05:02.833256,11,True,Portland,OR
6,EVT00000007,LOAD00000004,TRIP00000004,Pickup,FAC00029,2022-01-01 17:00:00.000000,2022-01-01 19:32:56.020030,50,False,Phoenix,AZ
7,EVT00000008,LOAD00000004,TRIP00000004,Delivery,FAC00037,2022-01-02 06:38:56.020030,2022-01-02 08:41:06.714927,142,False,Denver,CO
8,EVT00000009,LOAD00000005,TRIP00000005,Pickup,FAC00046,2022-01-01 08:00:00.000000,2022-01-01 11:51:35.544202,73,False,Houston,TX
9,EVT00000010,LOAD00000005,TRIP00000005,Delivery,FAC00050,2022-01-02 22:51:35.544202,2022-01-02 22:23:50.185284,236,True,Seattle,WA
10,EVT00000011,LOAD00000006,TRIP00000006,Pickup,FAC00043,2022-01-01 10:00:00.000000,2022-01-01 11:11:18.602953,22,True,Chicago,IL
11,EVT00000012,LOAD00000006,TRIP00000006,Delivery,FAC00021,2022-01-03 02:35:18.602953,2022-01-02 23:52:34.261273,0,False,Portland,OR
12,EVT00000013,LOAD00000007,TRIP00000007,Pickup,FAC00006,2022-01-01 07:00:00.000000,2022-01-01 10:21:47.625320,4,False,Las Vegas,NV
13,EVT00000014,LOAD00000007,TRIP00000007,Delivery,FAC00001,2022-01-02 07:15:47.625320,2022-01-02 06:47:50.362676,84,True,Kansas City,MO
14,EVT00000015,LOAD00000008,TRIP00000008,Pickup,FAC00046,2022-01-01 17:00:00.000000,2022-01-01 15:37:17.514244,66,True,Philadelphia,PA

In [ ]:
df_safety_incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   incident_id          170 non-null    object
 1   trip_id              170 non-null    object
 2   truck_id             169 non-null    object
 3   driver_id            169 non-null    object
 4   incident_date        170 non-null    object
 5   incident_type        170 non-null    object
 6   location_city        170 non-null    object
 7   location_state       170 non-null    object
 8   at_fault_flag        170 non-null    bool
 9   injury_flag          170 non-null    bool
 10  vehicle_damage_cost  170 non-null    float64
 11  cargo_damage_cost    170 non-null    float64
 12  claim_amount         170 non-null    float64
 13  preventable_flag     170 non-null    bool
 14  description          170 non-null    object
dtypes: bool(3), float64(3), object(9)
memory usage: 16.6+ KB

In [ ]:
df_safety_incidents.head(15)

,incident_id,trip_id,truck_id,driver_id,incident_date,incident_type,location_city,location_state,at_fault_flag,injury_flag,vehicle_damage_cost,cargo_damage_cost,claim_amount,preventable_flag,description
0,INC00000001,TRIP00036079,TRK00006,DRV00006,2023-04-09 14:00:00,Moving Violation,Columbus,PA,True,False,12629.26,0.00,12629.26,True,Severe incident involving equipment
1,INC00000002,TRIP00032462,TRK00084,DRV00006,2023-02-19 11:00:00,Moving Violation,Columbus,NC,False,False,2700.70,14284.24,16984.94,False,Severe incident involving weather
2,INC00000003,TRIP00067583,TRK00106,DRV00119,2024-05-20 01:00:00,Customer Complaint,Seattle,OK,True,False,24302.32,0.00,24302.32,True,Minor incident involving traffic
3,INC00000004,TRIP00049128,TRK00085,DRV00134,2023-09-26 03:00:00,Equipment Damage,Kansas City,TN,True,False,4879.13,0.00,4879.13,True,Moderate incident involving equipment
4,INC00000005,TRIP00062884,TRK00014,DRV00133,2024-03-20 14:00:00,DOT Violation,Las Vegas,IN,False,False,14951.40,0.00,14951.40,False,Minor incident involving other driver
5,INC00000006,TRIP00004361,TRK00007,DRV00005,2022-02-27 18:00:00,Equipment Damage,Oklahoma City,CO,False,True,0.00,0.00,0.00,False,Minor incident involving weather
6,INC00000007,TRIP00012773,TRK00007,DRV00109,2022-06-13 02:00:00,DOT Violation,Portland,TX,True,False,12589.05,28315.16,40904.21,True,Moderate incident involving traffic
7,INC00000008,TRIP00072329,TRK00115,DRV00060,2024-07-17 20:00:00,Accident,Phoenix,TX,False,False,15572.01,0.00,15572.01,False,Moderate incident involving equipment
8,INC00000009,TRIP00043143,TRK00107,DRV00003,2023-07-08 02:00:00,Customer Complaint,Oklahoma City,TX,False,True,22283.17,379.10,22662.27,False,Moderate incident involving traffic
9,INC00000010,TRIP00068700,TRK00074,DRV00132,2024-06-03 04:00:00,Equipment Damage,Detroit,PA,False,False,0.00,33901.90,33901.90,False,Severe incident involving equipment
10,INC00000011,TRIP00022792,TRK00007,DRV00041,2022-10-18 02:00:00,Equipment Damage,Milwaukee,NE,True,False,18252.77,0.00,18252.77,True,Severe incident involving weather
11,INC00000012,TRIP00048458,TRK00007,DRV00147,2023-09-16 03:00:00,Customer Complaint,Omaha,AZ,False,False,0.00,0.00,0.00,True,Severe incident involving equipment
12,INC00000013,TRIP00055475,TRK00040,DRV00104,2023-12-16 18:00:00,Customer Complaint,Indianapolis,TX,False,True,0.00,0.00,0.00,True,Moderate incident involving equipment
13,INC00000014,TRIP00045572,TRK00058,DRV00113,2023-08-10 17:00:00,DOT Violation,Portland,TN,False,False,0.00,0.00,0.00,False,Minor incident involving weather
14,INC00000015,TRIP00043170,TRK00026,DRV00058,2023-07-08 02:00:00,Accident,Atlanta,TN,False,False,4497.67,0.00,4497.67,True,Moderate incident involving traffic

In [ ]:
df_driver_monthly_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4464 entries, 0 to 4463
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   driver_id              4464 non-null   object
 1   month                  4464 non-null   object
 2   trips_completed        4464 non-null   int64
 3   total_miles            4464 non-null   int64
 4   total_revenue          4464 non-null   float64
 5   average_mpg            4464 non-null   float64
 6   total_fuel_gallons     4464 non-null   float64
 7   on_time_delivery_rate  4464 non-null   float64
 8   average_idle_hours     4464 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 314.0+ KB

In [ ]:
df_driver_monthly_metrics.head(15)

,driver_id,month,trips_completed,total_miles,total_revenue,average_mpg,total_fuel_gallons,on_time_delivery_rate,average_idle_hours
0,DRV00001,2022-01-01,26,36620,79141.59,6.61,5574.7,0.385,8.2
1,DRV00001,2022-02-01,9,13515,27133.87,6.69,2095.1,0.333,6.8
2,DRV00001,2022-03-01,20,30361,62399.62,6.36,4792.2,0.550,7.5
3,DRV00001,2022-04-01,19,28127,68161.13,6.61,4251.4,0.474,8.4
4,DRV00001,2022-05-01,14,16071,36256.82,6.35,2573.1,0.214,6.8
5,DRV00001,2022-06-01,13,17291,39709.91,6.38,2767.8,0.615,5.5
6,DRV00001,2022-07-01,21,32772,66855.24,6.41,5198.6,0.476,7.5
7,DRV00001,2022-08-01,20,27010,58514.48,6.35,4331.9,0.450,5.8
8,DRV00001,2022-09-01,20,30866,72027.99,6.21,4984.9,0.550,5.8
9,DRV00001,2022-10-01,12,23943,53495.80,6.26,3832.4,0.333,7.0
10,DRV00001,2022-11-01,16,21223,43790.85,6.28,3401.1,0.500,7.8
11,DRV00001,2022-12-01,16,21622,46003.88,6.41,3360.9,0.688,7.2
12,DRV00001,2023-01-01,12,18268,38932.16,6.47,2857.2,0.333,7.6
13,DRV00001,2023-02-01,17,28460,53581.07,6.41,4405.0,0.294,7.2
14,DRV00001,2023-03-01,14,20595,42486.00,6.65,3107.8,0.714,7.2

In [ ]:
df_truck_utilization_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   truck_id            3312 non-null   object
 1   month               3312 non-null   object
 2   trips_completed     3312 non-null   int64
 3   total_miles         3312 non-null   int64
 4   total_revenue       3312 non-null   float64
 5   average_mpg         3312 non-null   float64
 6   maintenance_events  3312 non-null   int64
 7   maintenance_cost    3312 non-null   float64
 8   downtime_hours      3312 non-null   float64
 9   utilization_rate    3312 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 258.9+ KB

In [ ]:
df_truck_utilization_metrics.head(15)

,truck_id,month,trips_completed,total_miles,total_revenue,average_mpg,maintenance_events,maintenance_cost,downtime_hours,utilization_rate
0,TRK00001,2022-01-01,22,39269,84792.02,6.78,2,4380.98,63.1,0.710
1,TRK00001,2022-02-01,27,40787,88809.05,6.23,0,0.00,0.0,0.964
2,TRK00001,2022-03-01,34,57422,120453.71,6.49,0,0.00,0.0,1.097
3,TRK00001,2022-04-01,20,34428,73531.28,6.50,2,3548.15,71.8,0.667
4,TRK00001,2022-05-01,16,20851,40791.53,6.38,1,1969.42,43.9,0.516
5,TRK00001,2022-06-01,31,47085,101659.37,6.46,0,0.00,0.0,1.033
6,TRK00001,2022-07-01,28,38038,84143.99,6.54,0,0.00,0.0,0.903
7,TRK00001,2022-08-01,27,35902,82253.78,6.30,1,382.57,20.4,0.871
8,TRK00001,2022-09-01,24,40898,88581.76,6.56,1,3372.41,46.5,0.800
9,TRK00001,2022-10-01,37,51364,108130.03,6.42,2,1744.63,58.7,1.194
10,TRK00001,2022-11-01,27,40313,79626.57,6.45,1,2103.04,25.2,0.900
11,TRK00001,2022-12-01,26,34882,71982.89,6.38,0,0.00,0.0,0.839
12,TRK00001,2023-01-01,25,39588,84543.89,6.25,0,0.00,0.0,0.806
13,TRK00001,2023-02-01,23,28620,57588.15,6.58,0,0.00,0.0,0.821
14,TRK00001,2023-03-01,25,36717,81060.18,6.37,0,0.00,0.0,0.806